{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Edit Review{{ product.name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Edit Review -->
<section class="review">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <hr>
                <h1 class="text-green">Edit Review</h1>
                <hr>
            </div>
            <div class="col-12 col-md-8 mx-auto mb-5">
                <p class="font-weight-bold">Review for Product: <span class="text-green">{{ product.name }}</span></p>
                <p class="font-weight-bold">Review by: <span class="text-green">{{ review.user }}</span></p>
                <div class="prod-form">
                    <form method="POST" action="{% url 'edit_review' product.id review.id %}" class="mb-2 prod-form"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="">
                            <a class="btn cta" href="{% url 'product_detail' product.id %}">Cancel</a>
                            <button class="btn cta" type="submit">Update</button>
                            <button class="btn cta-danger" type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Review Modal -->
    <div class="modal fade" id="exampleModal{{ review.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-green">
                    <h2 class="modal-title text-white mb-0 text-lg">Delete Review by {{ review.user }}</h2>
                </div>
                <div class="modal-body">
                    {% if user == review.user or user.is_superuser %}
                    <form method="post" action="{% url 'delete_review' review.product.id review.id %}" role="form">
                        {% csrf_token %}
                        <p class="text-green"><strong><i>Are you sure you want to Delete this review?</strong></i></p>
                        <p>This review will be permanently removed and you will not be able to retrieve it.</p>
                        <button type="button" class="btn cta" data-dismiss="modal" aria-label="Close">Cancel</button>
                        <button type="submit" name="action" value="delete" class="btn cta-danger">Delete</button>
                    </form>
                    {% else %}
                    <h3>You are not authorized to delete this review.</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}