{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Edit Review -->
<section class="review">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <hr>
                <h1 class="text-green">Edit Review</h1>
                <hr>
            </div>
            <div class="col-12 col-md-8 mx-auto mb-5">
                <p class="font-weight-bold">Review for Product: <span class="text-green">{{ product.name }}</span></p>
                <p class="font-weight-bold">Review by: <span class="text-green">{{ review.user }}</span></p>
                <div class="prod-form">
                    <form method="POST" action="{% url 'edit_review' product.id review.id %}" class="mb-2 prod-form"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="">
                            <a class="btn cta cta-danger" href="{% url 'product_detail' product.id %}">Cancel</a>
                            <button class="btn cta" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- BTT Button -->
<button type="button" class="shadow-sm rounded border border-black" id="btn-back-to-top">
    <i class="fas fa-arrow-up text-green"></i>
</button>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/base.js' %}"></script>
{% endblock %}