{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_title %} - Cart{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Cart -->
<section class="cart">
    <div class="container mb-2">
        <div class="row">
            <div class="col-12">
                <hr>
                {% if request.user.is_authenticated %}
                <h1 class="logo-font text-green text-center mb-4">{{user.username}}'s Shopping Cart <i
                        class="fa-solid fa-cart-shopping"></i></h1>
                {% else %}
                <h1 class="logo-font text-green text-center mb-4">My Shopping Cart <i
                        class="fa-solid fa-cart-shopping"></i></h1>
                {% endif %}
                <hr>
            </div>
        </div>
        {% if cart_items %}
        <div class="row">
            <div class="col-12 text-center mb-4">
                <p class="mb-0 item-count-header">{{ product_count }} items ready to purchase.</p>
            </div>
        </div>
        <div class="row w-100 mx-auto">
            <!-- Cart Items -->
            {% include './includes/cart_items.html' %}
            <!-- Cart Summary -->
            {% include './includes/cart_summary.html' %}
        </div>
        {% else %}
        <!-- Cart Empty -->
        {% include './includes/cart_empty.html' %}
        {% endif %}
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/quantityprod.js' %}"></script>
{% endblock %}