<div class="row">
    {% if blogs %}
    {% for blog in blogs %}
    <div class="col-12 col-lg-6 mb-4 d-flex">
        <div class="card border-green-light flex-fill">
            {% if blog.image %}
            <a href="{% url 'blog_detail' blog.slug %}"><img src="{{ blog.image.url }}" class="card-img-top"
                    alt="..."></a>
            {% else %}
            <a href="{% url 'blog_detail' blog.slug %}"><img
                    src="https://pc-haven.s3.eu-north-1.amazonaws.com/media/blog/blog.webp" class="card-img-top"
                    alt="..."></a>
            {% endif %}
            <div class="bg-green text-white font-weight-bold text-center">
                <a href="{% url 'blog_detail' blog.slug %}">
                    <p class="text-white p-2 mb-0">{{ blog.title }}</p>
                </a>
            </div>
            {% if request.user.is_superuser %}
            <div class="row">
                <div class="col-12">
                    <hr class="my-0">
                    <div class="text-center">
                        <a href="{% url 'edit_blog' blog.slug %}" class="text-green btn text-sm">Manage
                            Blog
                            <i class="fa-solid fa-sm fa-pencil"></i></a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col-12">
        <p class="text-green font-weight-bold font-italic text-center">Sorry there are no blog posts currently please
            check back
            later.</p>
    </div>
    {% endif %}
</div>