{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Hero Start -->
<section class="hero">
    <div class="container">
        <div class="row flex-wrap-reverse align-items-center">
            <div
                class="col-12 col-md-6 mb-3 p-3 d-flex flex-column align-items-center justify-content-center text-white">
                <h1 class="text-uppercase text-center font-weight-bold rounded">
                    Build your dream PC
                </h1>
                <p>Welcome to PC HAVEN, your ultimate destination for top-quality PC components. We are passionate
                    about providing you with the latest and most cutting-edge hardware to fuel your technological
                    ambitions. Whether you're a hardcore gamer, a creative professional, or a tech enthusiast, we've
                    got you covered.</p>
                <a href="{% url 'products' %}" class="shop-now-button btn cta text-uppercase">Shop Now</a>
            </div>
            <div class="col-12 col-md-6 my-auto d-flex justify-content-center align-items-center">
                <img src="https://pc-haven.s3.eu-north-1.amazonaws.com/media/pchaven/hero.webp" class="img-fluid"
                    alt="">
            </div>
        </div>
    </div>
</section>
<!-- Hero End -->
{% endblock %}