{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Hero Start -->
<section class="hero">
    <div class="container h-100">
        <div class="row flex-wrap-reverse align-items-center h-100">
            <div class="col-12 col-md-5 my-auto">
                <h1 class="text-uppercase pb-3">
                    Build your dream<br>PC today!
                </h1>
                <a href="" class="shop-now-button btn btn-lg cta rounded-0 text-uppercase py-3">Shop Now</a>
            </div>
            <div class="col-12 col-md-7 my-auto">
                <img src="https://pc-haven.s3.eu-north-1.amazonaws.com/media/pchaven/hero.webp" class="img-fluid"
                    alt="">
            </div>
        </div>
    </div>
</section>
<!-- Hero End -->
{% endblock %}