<div class="col-12 col-lg-4 d-flex flex-column bg-white border-green rounded py-2">
    <div class="ml-auto p-1">
        {% if product in wishlist.products.all %}
        <a href="{% url 'remove_from_wishlist' product.slug %}" class="text-right favourite"><i
                class="fa-solid fa-heart"></i></a>
        {% else %}
        <a href="{% url 'add_to_wishlist' product.slug %}" class="text-right favourite"><i
                class="fa-regular fa-heart"></i></a>
        {% endif %}
    </div>
    <div class="text-center d-flex flex-fill">
        {% if product.image %}
        <img src="{{ product.image.url }}" width="500" height="400" class="img-fluid flex-fill"
            alt="{{ product.name }}" />
        {% else %}
        <img src="https://pc-haven.s3.eu-north-1.amazonaws.com/media/products/noimage.webp" class="img-fluid flex-fill"
            alt="{{ product.name }}" />
        {% endif %}
    </div>
</div>
<div class="col-12 col-lg-8 bg-white border-green rounded">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="mt-3 pl-2">
                <span class="font-weight-bold text-uppercase text-green">
                    Features
                </span>
            </div>
            <div class="features pl-2">
                <p>{{ product.features|safe }}</p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="mt-3 pl-2">
                {% if reviews %}
                <span class="font-weight-bold text-uppercase text-green">Customer Rating = <i
                        class="fa-solid fa-star"></i>
                    {{ rating_avg.rating__avg|floatformat:"-1" }} / 5</span><br />
                {% if user.is_authenticated %}
                {% if user_review.exists %}
                <span class="font-italic text-prime small"><span class="text-green font-weight-bold">{{ user }}</span>
                    you have reviewed this Product.</span>
                {% else %}
                <span class="font-italic text-prime small">Review/rate this product below.</span>
                {% endif %}
                {% else %}
                <span class="font-italic text-prime small">Sign up now to review/rate product.</span>
                {% endif %}
                {% else %}
                <span class="font-weight-bold text-uppercase text-green">Customer Rating = <i
                        class="fa-solid fa-star"></i> 0 / 5</span><br />
                <span class="font-italic text-prime small">Be the first to review/rate this product.</span>
                {% endif %}
            </div>
            <div class="pl-2">
                {% if not user_review.exists %}
                <p class="mt-2"><a href="{% url 'add_review' product.slug %}" class="btn cta text-uppercase">Add
                        Review</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-5 d-flex mt-2 justify-content-between">
                        <div class="pl-2">
                            <p>
                                <span class="text-green font-weight-bold">Price: </span>
                                €{{ product.price }}
                            </p>
                        </div>
                        <div>
                            {% if product.in_stock %}
                            <p>
                                <i class="fa-regular fa-square-check text-green"></i>
                                {{ product.stock_level}} In Stock
                            </p>
                            {% else %}
                            <p><i class="fa-regular fa-rectangle-xmark text-danger"></i> Out of
                                Stock</p>
                            {% endif %}
                        </div>
                    </div>
                    {% if product.in_stock %}
                    <div class="col-12 col-md-7 px-4 d-flex flex-fill">
                        <div class="pr-3 mt-2">
                            <p class="text-green font-weight-bold">Qty:</p>
                        </div>
                        <div class="form-group flex-fill">
                            <div class="input-group pt-1">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-sm btn-black rounded-0"
                                        data-product_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control form-control-sm text-center qty_input" type="number"
                                    name="quantity" value="1" min="1" max="{{product.stock_level}}"
                                    data-product_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-sm btn-black rounded-0"
                                        data-product_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <hr>
                <div class="row mb-3">
                    <div class="col-12 col-md-8 mx-auto d-flex flex-wrap">
                        <a href="{% url 'products' %}" class="btn cta flex-grow-1 font-weight-bold">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        {% if product.in_stock %}
                        <button type="submit" name="action" value="Add To Cart"
                            class="btn cta flex-grow-1 font-weight-bold">ADD&nbsp;&nbsp;<i
                                class="fa-solid fa-cart-shopping"></i></button>
                        {% endif %}
                    </div>
                </div>
                {% if request.user.is_superuser %}
                <div class="row">
                    <div class="col-12">
                        <hr class="my-0">
                        <div class="text-center">
                            <a href="{% url 'edit_product' product.slug %}" class="text-green btn text-sm">Manage Product
                                <i class="fa-solid fa-sm fa-pencil"></i></a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>