{% if products.paginator.num_pages > 1 %}
<div class="row my-3">
    <div class="col-lg-12 d-flex justify-content-center">
        <nav>
            <ul class="pagination rounded">
                {% if products.has_previous %}
                <li class="page-item"><a class="page-link bg-green text-white"
                        href="?page={{ products.previous_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if 'category' in request.GET %}&category={{ request.GET.category|stringformat:'s' }}{% endif %}{% if 'sub_category' in request.GET %}&sub_category={{ request.GET.sub_category|stringformat:'s' }}{% endif %}">Previous</a>
                </li>
                {% endif %}
                {% for num in products.paginator.page_range %}
                {% if products.number == num %}
                <li class="page-item active"><a class="page-link"
                        href="?page={{ num }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if 'category' in request.GET %}&category={{ request.GET.category|stringformat:'s' }}{% endif %}{% if 'sub_category' in request.GET %}&sub_category={{ request.GET.sub_category|stringformat:'s' }}{% endif %}">
                        {{ num }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link"
                        href="?page={{ num }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if 'category' in request.GET %}&category={{ request.GET.category|stringformat:'s' }}{% endif %}{% if 'sub_category' in request.GET %}&sub_category={{ request.GET.sub_category|stringformat:'s' }}{% endif %}">
                        {{ num }}</a></li>
                {% endif %}
                {% endfor %}
                {% if products.has_next %}
                <li class="page-item"><a class="page-link bg-green text-white"
                        href="?page={{ products.next_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if 'category' in request.GET %}&category={{ request.GET.category|stringformat:'s' }}{% endif %}{% if 'sub_category' in request.GET %}&sub_category={{ request.GET.sub_category|stringformat:'s' }}{% endif %}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endif %}