{% if products|length >= 1 %}
<div class="row mb-2">
    {% if products|length >= 2 %}
    <div class="col-12 col-md-4 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
        <div class="sort-select-wrapper w-100">
            <select id="sort-selector"
                    class="custom-select custom-select-sm rounded bg-green text-white {% if current_sorting != 'None_None' %}info{% else %}black{% endif %} text-white">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                    </option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                        (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                        (high to low)</option>
                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                        Rating (low to high)</option>
                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                        Rating (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                        (A-Z)</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                        (Z-A)</option>
                    <option value="sub_category_asc" {% if current_sorting == 'sub_category_asc' %}selected{% endif %}>
                        Sub-Category (A-Z)</option>
                    <option value="sub_category_desc" {% if current_sorting == 'sub_category_desc' %}selected{% endif %}>
                        Sub-Category (Z-A)</option>
                </select>
        </div>
    </div>
    {% endif %}
    <div class="col-12 col-md-8 order-first">
            <p class="mt-3 text-center text-md-left">
                Showing {{ products|length }} of {{ total_products }} Products{% if search_term %} found for
                <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
    </div>
</div>
{% endif %}