{% if reviews %}
{% for review in reviews %}
<div class="col-12 border-green p-2">
    <p class="small mb-0"><span class="text-green font-weight-bold">Reviewed by: </span>
        {{ review.user }}
    </p>
    <div>
        <p>{{ review.review|safe }}</p>
    </div>
    {% if user == review.user or user.is_superuser %}
    <div class="my-2">
        <a href="{% url 'edit_review' product.id review.id %}" class="cta btn-sm text-decoration-none">Manage
            Review
            <i class="fa-solid fa-sm fa-pencil"></i></a>
    </div>
    {% endif %}
    <div class="d-flex justify-content-between">
        <p class="small mb-0"><span class="text-green font-weight-bold">Rating: </span><i
                class="fa-solid fa-star text-green"></i>
            {{ review.rating }} / 5</p>
        <p class="small mb-0"><span class="text-green font-weight-bold">{{ review.created_on }}
        </p>
    </div>
</div>
<hr>
{% endfor %}
{% else %}
<div class="col-12 text-center">
    {% if request.user.is_authenticated %}
    <p>There are no reviews for this Product maybe you could be the first.<br>Click the Add Review button below to get
        started.</p>
    {% else %}
    <p>There are no reviews for this Product maybe you could be the first.<br>Click the Sign Up button below to get
        started.</p>
    {% endif %}
    <p class="mt-2"><a href="{% url 'add_review' product.id %}" class="btn cta text-uppercase">Add
            Review</a></p>
</div>
{% endif %}