{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Profile -->
<section class="profile">
    <div class="container mb-2">
        <div class="row">
            <div class="col-12">
                <hr>
                <h1 class="logo-font text-green text-center mb-4">{{ user }}'s Profile</h1>
                <hr>
            </div>
            <div class="col-12">
                <p>Your profile page will serve as your digital hub, allowing you to easily manage your information and
                    preferences. You can now save your user details & delivery information ensuring a seamless shopping
                    experience every time you visit. Take advantage of our order history feature to keep track of your
                    purchases and easily
                    reorder your favorite products. Additionally, the wishlist functionality lets you curate a
                    collection of products you're interested in, making it easier than ever to keep an eye on items you
                    may want to purchase in the future.</p>
            </div>
        </div>

        <div class="row mt-2 mb-5 p-1 border-green mx-auto rounded-lg bg-white">
            <div class="col-12 p-0">
                <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item flex-grow-1" role="presentation">
                        <button class="nav-link active w-100 text-uppercase font-weight-bold text-green text-lg m-0"
                            id="pills-userdetails-tab" data-toggle="pill" data-target="#pills-userdetails" type="button"
                            role="tab" aria-controls="pills-userdetails" aria-selected="true">
                            User Details <i class="fa-solid fa-user"></i>
                        </button>
                    </li>
                    <li class="nav-item flex-grow-1" role="presentation">
                        <button class="nav-link w-100 text-uppercase font-weight-bold text-green text-lg m-0"
                            id="pills-orders-tab" data-toggle="pill" data-target="#pills-orders" type="button"
                            role="tab" aria-controls="pills-orders" aria-selected="false">
                            Order History <i class="fa-solid fa-receipt"></i>
                        </button>
                    </li>
                    <li class="nav-item flex-grow-1" role="presentation">
                        <button class="nav-link w-100 text-uppercase font-weight-bold text-green text-lg m-0"
                            id="pills-wishlist-tab" data-toggle="pill" data-target="#pills-wishlist" type="button"
                            role="tab" aria-controls="pills-wishlist" aria-selected="false">
                            Wishlist <i class="fa-solid fa-heart"></i>
                        </button>
                    </li>
                </ul>
                <div class="tab-content px-2" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-userdetails" role="tabpanel"
                        aria-labelledby="pills-userdetails-tab">
                        <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <p class="text-green font-weight-bold text-uppercase">User Details</p>
                                    {{ userform|crispy }}
                                </div>
                                <div class="col-12 col-md-6">
                                    <p class="text-green font-weight-bold text-uppercase">Delivery Information</p>
                                    {{ profileform|crispy }}
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <button class="btn cta text-uppercase w-100">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-orders" role="tabpanel" aria-labelledby="pills-orders-tab">
                        {% if orders.exists %}
                        <p class="text-center font-weight-bold text-green">Click Order number to access your
                            Order
                            Summary.</p>
                        {% for order in orders %}
                        <div class="row">
                            <div class="col-12 col-md-6 mb-2 mb-md-0">
                                <p class="text-green font-weight-bold mb-0">Order Number</p>
                                <a class="order-number" href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}">
                                    {{ order.order_number }}
                                </a>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="text-green font-weight-bold mb-0">Order Date</p>
                                <p>{{ order.order_date }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="text-green font-weight-bold mb-0">Order Items</p>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">{{ item.product.name }} x{{ item.quantity }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="text-green font-weight-bold mb-0">Order Total</p>
                                <p>€{{ order.grand_total }}</p>
                            </div>
                        </div>
                        <hr class="mt-0">
                        {% endfor %}
                        {% else %}
                        <p class="text-center font-weight-bold text-green">Order history empty!</p>
                        <p>There's a whole world of PC components waiting for you at PC HAVEN! Explore our vast
                            selection of top-quality
                            hardware, including powerful graphics cards, high-performance processors, and sleek PC
                            cases. With our user-friendly platform, you can easily find the products that meet your
                            needs and add them to your cart. Once you complete your order it will appear in your order
                            history, allowing you to track your purchases.
                            Start shopping today and let PC HAVEN be your trusted destination for all your PC component
                            needs.</p>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="pills-wishlist" role="tabpanel" aria-labelledby="pills-wishlist-tab">
                        {% if wishlist.exists %}
                        <p class="text-center font-weight-bold text-green">Wishlist Products -
                            {{ wishlist.products.count }}</p>
                        <div class="row pb-4">
                            {% for product in wishlist.products.all %}
                            <div class="col-12 col-lg-3 col-md-4 d-flex flex-column">
                                <div class="card border-green flex-fill">
                                    <div class="card-img-top p-1 h-40 text-center">
                                        {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}"><img
                                                src="{{ product.image.url }}" class="img-fluid h-100"
                                                alt="{{ product.name }}"></a>
                                        {% else %}
                                        <a href="{% url 'product_detail' product.id %}"><img
                                                src="https://pc-haven.s3.eu-north-1.amazonaws.com/media/products/noimage.webp"
                                                class="img-fluid h-100" alt="{{ product.name }}"></a>
                                        {% endif %}
                                    </div>
                                    <div
                                        class="card-body d-flex flex-column justify-content-center align-items-center h-10 bg-green text-white">
                                        <span class="text-center font-weight-bold">{{ product.name|safe }}</span>
                                    </div>
                                    <div
                                        class="card-body px-1 d-flex flex-column justify-content-center h-20 flex-fill text-center">
                                        <div>
                                            <a href="{% url 'product_detail' product.id %}"
                                                class="btn cta text-uppercase w-100 mb-2">View
                                                Product</a>
                                            <a href="{% url 'remove_from_wishlist' product.id %}"
                                                class="btn cta bg-danger text-white text-uppercase w-100">
                                                Wishlist Remove <i class="fa-solid fa-minus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none">
                                <hr>
                            </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-md-block d-lg-none d-xl-none">
                                <hr>
                            </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-lg-block">
                                <hr>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% else %}
                            <p class="text-center font-weight-bold text-green">Wishlist is currently empty!</p>
                            <p>Simply browse our website, find the products that catch your
                                eye, and click on the <i class="fa-regular fa-heart text-green"></i> icon to start
                                curating your
                                personalized
                                collection. Fill up your wishlist with exciting products and keep track of your
                                favorites for future reference. Happy shopping and enjoy building your ultimate PC!</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'profiles/js/country_field.js' %}"></script>
{% endblock %}