{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Checkout Success -->
<section class="checkout-success">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <hr>
                <h1 class="logo-font text-green mb-4">Order Complete <i class="fa-solid fa-circle-check"></i></h1>
                <hr>
                {% if request.user.is_authenticated %}
                <p class="logo-font mb-4">Thank you <span class="font-weight-bold text-green">{{ user }}</span>,
                    a confirmation email will be sent to
                    <span class="font-weight-bold text-green">{{ order.email }}</span>.
                </p>
                {% else %}
                <p class="logo-font mb-4">Thank You <span class="font-weight-bold text-green">
                        {{ order.full_name }}</span>, a confirmation email will be sent to
                    <span class="font-weight-bold text-green">{{ order.email }}</span>.
                </p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="bg-green text-white text-lg text-center font-weight-bold">
                    <p class="m-0 py-2">ORDER INFORMATION</p>
                </div>
                <div class="order-confirmation-wrapper bg-white p-2 border">
                    <!-- Order Summary -->
                    {% include './includes/order_summary.html' %}

                    <!-- Order Items -->
                    {% include './includes/order_items.html' %}

                    <!-- Order Delivery Information -->
                    {% include './includes/order_delivery_info.html' %}
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col-12 col-md-10 mx-auto d-flex flex-wrap">
                <a href="{% url 'products' %}" class="btn cta flex-grow-1 font-weight-bold">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                {% if from_profile %}
                <a href="{% url 'profile' %}" class="btn cta flex-grow-1 font-weight-bold">
                    <span class="icon">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Profile</span>
                </a>
                {% else %}
                <a href="{% url 'home' %}" class="btn cta flex-grow-1 font-weight-bold">
                    <span class="icon">
                        <i class="fa-solid fa-house"></i>
                    </span>
                    <span class="text-uppercase">Home</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-- BTT Button -->
<button type="button" class="shadow-sm rounded border border-black" id="btn-back-to-top">
    <i class="fas fa-arrow-up text-green"></i>
</button>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/base.js' %}"></script>
{% endblock %}