:root {
    --bg-green: #0d8065;
    --bg-offwhite: rgba(252, 249, 248, 0.972);
    --bg-white: #ffffff;
    --bg-grey: rgba(195, 184, 173, 0.2);
    --primary-text: #3e3d3d;
}


.profile input {
    border-radius: 0;
    background-color: var(--bg-offwhite);
    border: 2px solid var(--bg-green);
    color: var(--primary-text);
}

.profile label {
    color: var(--bg-green);
    font-style: italic;
}

.profile input:focus,
.profile input:active {
    background-color: var(--bg-offwhite);
    border: 2px solid var(--bg-green);
    color: var(--primary-text);
    box-shadow: none;
}

.profile input::placeholder {
    color: var(--bg-green);
    font-style: italic;
}


.profile select {
    border-radius: 0;
    background-color: var(--bg-offwhite);
    border: 2px solid var(--bg-green);
    color: var(--bg-green);
    font-style: italic;
    padding: .3rem 0.6rem !important;
}

.profile select:active,
.profile select:focus {
    box-shadow: none;
    border: 2px solid var(--bg-green);
    background-color: var(--bg-offwhite);
}