:root {
    --bg-green: #0d8065;
    --bg-offwhite: rgba(252, 249, 248, 0.972);
    --bg-white: #ffffff;
    --bg-grey: rgba(195, 184, 173, 0.2);
    --primary-text: #3e3d3d;
}

/* ------------------------------------ Profile Forms ------------------------------------ */

.profile .form-group {
    margin-bottom: .5rem;
}

.profile input {
    border-radius: 0;
    background-color: var(--bg-offwhite);
    border: 2px solid var(--bg-green);
    color: var(--primary-text);
}

.profile label {
    color: var(--bg-green);
    font-style: italic;
    margin-top: -1rem;
}

.profile input:focus,
.profile input:active {
    background-color: var(--bg-offwhite);
    border: 2px solid var(--bg-green);
    color: var(--primary-text);
    box-shadow: none;
}

.profile input::placeholder {
    color: var(--bg-green);
    font-style: italic;
}

.profile select {
    border-radius: 0;
    background-color: var(--bg-offwhite);
    border: 2px solid var(--bg-green);
    color: var(--bg-green);
    font-style: italic;
    padding: .3rem 0.6rem !important;
}

.profile select:active,
.profile select:focus {
    box-shadow: none;
    border: 2px solid var(--bg-green);
    background-color: var(--bg-offwhite);
}

.order-history {
    max-height: 416px;
    overflow-y: auto;
}

/* ------------------------------------ Profile Tabs ------------------------------------ */

.profile .nav-item {
    background-color: var(--bg-white);
    border: 2px solid var(--bg-green);
    font-weight: 700;
    margin: .1rem .1rem;
    width: 100%;
}

.profile .nav-item .active {
    background-color: var(--bg-green);
    font-weight: 700;
    margin: .1rem .1rem;
    border-radius: 0;
}

.order-number {
    word-break: break-all;
    color: var(--primary-text);
    text-decoration: underline;
    text-underline-offset: .2rem;
}

.order-number:hover {
    font-style: italic;
    font-weight: bold;
    color: var(--bg-green);
}

/* ------------------------------------ Profile Media Queries ------------------------------------ */

@media screen and (min-width: 768px) {

    .profile .nav-item {
        width: fit-content;
    }
}