@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-green: rgb(34, 95, 33);
    --bg-offwhite: rgba(252, 249, 248, 0.972);
    --bg-white: #ffffff;
    --bg-grey: rgba(195, 184, 173, 0.2);
    --primary-text: #3e3d3d;
}

.header-container {
    padding-top: 111px;
}

html {
    height: 100%;
}

body {
    height: calc(100vh - 111px);
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-grey);
    color: var(--primary-text);
}

/* Helper Styles */

.bg-green {
    background-color: var(--bg-green);
}

.bg-offwhite {
    background-color: var(--bg-offwhite);
}

.cta {
    background: var(--bg-green);
    border: 2px solid var(--bg-offwhite);
    color: var(--bg-offwhite);
}

.cta:hover,
.cta:active,
.cta:focus {
    background: var(--bg-white);
    border: 2px solid var(--bg-green);
    color: var(--bg-green);
}

.box {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.h-10 {
    height: 10%;
}

.h-20 {
    height: 20%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Header */

.logo {
    font-size: 2rem;
    border: 3px solid var(--bg-green);
    max-width: fit-content;
    padding: .1rem .3rem;
    color: var(--bg-green);
    text-transform: uppercase;
}

.form-control input::placeholder {
    color: var(--bg-green);
    font-style: italic;
}

/* Navbar */

a.nav-link {
    color: var(--primary-text);
}

.navbar a.nav-link {
    color: var(--primary-text);
}

.navbar a.nav-link:hover,
.navbar a.nav-link:active,
.navbar a.nav-link:focus {
    color: var(--bg-green);
}

a.nav-link:hover,
a.nav-link:active,
a.nav-link:focus {
    color: var(--bg-green);
}

.navbar-toggler {
    padding: .6rem .6rem;
    font-size: 1rem;
    color: var(--bg-green);
    border-color: var(--bg-green);
}

i.fa-solid.fa-bars {
    font-size: 1.5rem;
}

.dropdown-menu {
    border-color: var(--bg-green);
}

#banner p {
    font-size: .9rem;
    font-weight: 700;
    color: var(--bg-white);
}

/* Homepage */

.hero {
    min-height: calc(100vh - 111px);
}

.shop-now-button {
    min-width: 260px;
    font-weight: 700;
}

.input-group input {
    border: 1px solid var(--bg-green);
}

.input-group input:focus {
    background-color: var(--bg-offwhite);
    color: var(--bg-green);
    border: 1px solid var(--bg-green);
    box-shadow: none;
}

.input-group input::placeholder {
    color: var(--bg-green);
    font-style: italic;
}

.input-group button {
    background-color: var(--bg-offwhite);
    border: 1px solid var(--bg-green);
    color: var(--bg-green);
}

.input-group button:hover,
.input-group button:focus {
    background-color: var(--bg-green);
    border: 1px solid var(--bg-green);
    color: var(--bg-offwhite);
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* All Auth */

.allauth-form h2 {
    color: var(--bg-green);
}

.allauth-form hr {
    background-color: var(--bg-green);
}

.allauth-form input {
    border-radius: 0;
    background-color: var(--bg-offwhite);
    border: 2px solid var(--bg-green);
    color: var(--primary-text);
}

.allauth-form input:focus,
.allauth-form input:active {
    background-color: var(--bg-offwhite);
    border: 2px solid var(--bg-green);
    color: var(--primary-text);
    box-shadow: none;
}

.allauth-form input::placeholder {
    color: var(--bg-green);
    font-style: italic;
}

.allauth-form label:not([for='id_remember']) {
    display: none;
}

.allauth-form p a span {
    font-weight: 700;
    color: var(--bg-green);
    text-decoration: none;
}

.allauth-form a {
    text-decoration: none;
}

input:-webkit-autofill,
input:focus:-webkit-autofill {
    -webkit-text-fill-color: var(--primary-text);
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-offwhite) inset;
    border: 2px solid var(--bg-green);
}

input:-moz-autofill,
input:focus:-moz-autofill {
    -moz-text-fill-color: var(--primary-text);
    -moz-box-shadow: 0 0 0px 1000px var(--bg-offwhite) inset;
    border: 2px solid var(--bg-green);
}

input:-o-autofill,
input:focus:-o-autofill {
    -o-text-fill-color: var(--primary-text);
    -o-box-shadow: 0 0 0px 1000px var(--bg-offwhite) inset;
    border: 2px solid var(--bg-green);
}

input:-khtml-autofill,
input:focus:-khtml-autofill {
    -khtml-text-fill-color: var(--primary-text);
    -khtml-box-shadow: 0 0 0px 1000px var(--bg-offwhite) inset;
    border: 2px solid var(--bg-green);
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {

    .container {
        max-width: 86%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {

    body {
        height: calc(100vh - 165px);
    }

    .header-container {
        padding-top: 165px;
    }

    .hero {
        min-height: calc(100vh - 165px);
    }

}

