:root {
    --bg-green: #0d8065;
    --bg-offwhite: rgba(252, 249, 248, 0.972);
    --bg-white: #ffffff;
    --bg-grey: rgba(195, 184, 173, 0.2);
    --primary-text: #3e3d3d;
}

/* ------------------------------------ Helpers ------------------------------------ */

.text-sm {
    font-size: .9rem;
}

/* ------------------------------------ All Products ------------------------------------ */

.card {
    border: 2px solid var(--bg-green);
}

.fa-regular.fa-heart,
.fa-solid.fa-heart {
    color: var(--bg-green);
    font-size: 1.5rem;
}

.favourite i.fa-regular:hover {
    font-weight: 900;
}

.favourite i.fa-solid:hover {
    font-weight: 400;
}

.prod-category {
    border: 1px solid var(--bg-green);
}

.prod-category a {
    color: var(--bg-green);
}

.prod-category a:hover,
.category-white a:hover {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

.category-white a {
    color: var(--bg-white);
}

.cart-add {
    width: 50%;
}

.oostock {
    background-color: var(--primary-text);
}

.oostock:hover {
    background: var(--primary-text);
    color: var(--bg-green);
}

.products hr {
    border-bottom: 2px solid var(--bg-green);
    border-style: dotted;
    width: 90%;
    margin: 1rem auto;
}

/* ------------------------------------ Product Detail ------------------------------------ */

.product h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.features {
    margin-top: -1rem;
    font-size: .9rem;
}

.features ul {
    padding-left: .8rem!important;
}

/* ------------------------------------ Decription/Review ------------------------------------ */

.product .nav-item {
    background-color: var(--bg-white);
    border: 2px solid var(--bg-green);
    font-weight: 700;
    margin: .1rem .1rem;
    width: 100%;
}

.product .nav-item .active {
    background-color: var(--bg-green);
    font-weight: 700;
    margin: .1rem .1rem;
    border-radius: 0;
}

.product button:hover {
    color: var(--bg-white);
    background-color: var(--bg-green);
    border-radius: 0;
}

.product h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: var(--bg-green);
}

/* ------------------------------------ Pagination ------------------------------------ */

.page-item a {
    color: var(--bg-green);
}

.page-item a:hover {
    background: var(--bg-green);
    color: var(--bg-white);
}

.page-item a:focus {
    box-shadow: none;
}

.page-item.active a {
    color: var(--bg-white)!important;
    background-color: var(--bg-green)!important;
    border: none;
}

/* ------------------------------------ Sorting ------------------------------------ */

.custom-select:focus,
.custom-select:active {
    box-shadow: var(--bg-green) !important;
    outline: var(--bg-green) !important;
}

/* ------------------------------------ Edit Product ------------------------------------ */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    color: #dc3545;
    border-radius: 0;
}

.prod-form label {
    color: var(--bg-green);
    font-weight: 700;
}

.prod-form input {
    border: 1px solid var(--bg-green);
}

.prod-form select {
    border: 1px solid var(--bg-green);
}

/* ------------------------------------ Product Management ------------------------------------ */



@media screen and (min-width: 768px) {

    .product .nav-item {
        width: fit-content;
    }
}