:root {
    --bg-green: #0d8065;
    --bg-offwhite: rgba(252, 249, 248, 0.972);
    --bg-white: #ffffff;
    --bg-grey: rgba(195, 184, 173, 0.2);
    --primary-text: #3e3d3d;
}

/* ------------------------------------ All Products ------------------------------------ */

.card {
    border: 2px solid var(--bg-green);
}

.fa-regular.fa-heart,
.fa-solid.fa-heart {
    color: var(--bg-green);
    font-size: 1.5rem;
}

.favourite i.fa-regular:hover {
    font-weight: 900;
}

.favourite i.fa-solid:hover {
    font-weight: 400;
}

.prod-category {
    border: 1px solid var(--bg-green);
}

.prod-category a {
    color: var(--bg-green);
}

.prod-category a:hover,
.category-white a:hover {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

.category-white a {
    color: var(--bg-white);
}

.cart-add {
    width: 50%;
}

.products hr {
    border-bottom: 2px solid var(--bg-green);
    border-style: dotted;
    width: 90%;
    margin: 1rem auto;
}

/* Product Detail */

.border-white {
    border: 2px solid var(--bg-white);
}

.border-green {
    border: 2px solid var(--bg-green);
}

.product h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.features {
    margin-top: -1rem;
    font-size: .9rem;
}

/* ------------------------------------ Decription/Review ------------------------------------ */

.product .nav-item {
    background-color: var(--bg-white);
    border: 2px solid var(--bg-green);
    font-weight: 700;
    margin: 0 .1rem;
}

.product .nav-item .active {
    background-color: var(--bg-green);
    font-weight: 700;
    margin: 0 .1rem;
    border-radius: 0;
}

.product button:hover {
    color: var(--bg-white);
    background-color: var(--bg-green);
    border-radius: 0;
}

.product h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: var(--bg-green);
}

/* ------------------------------------ Pagination ------------------------------------ */

.page-item a {
    color: var(--bg-green);
}

.page-item a:hover {
    background: var(--bg-green);
    color: var(--bg-white);
}

.page-item a:focus {
    box-shadow: none;
}

.page-item.active a {
    color: var(--bg-white)!important;
    background-color: var(--bg-green)!important;
    border: none;
}

