<form action="{% url 'profile' %}" method="POST" id="profile-update-form">
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="text-green font-weight-bold text-uppercase">User Details</p>
            {{ userform|crispy }}
        </div>
        <div class="col-12 col-md-6">
            <p class="text-green font-weight-bold text-uppercase">Delivery Information</p>
            {{ profileform|crispy }}
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <button class="btn cta text-uppercase w-100">Update</button>
        </div>
    </div>
</form>