{% if wishlist.products.exists %}
<p class="text-center font-weight-bold text-green">Wishlist Products -
    {{ wishlist.products.count }}</p>
<p class="text-center"><a href="{% url 'clear_wishlist' %}" class="btn cta bg-danger text-white text-uppercase">Clear
        Wishlist</a></p>
<div class="row pb-4">
    {% for product in wishlist.products.all %}
    <div class="col-12 col-lg-3 col-md-4 d-flex flex-column">
        <div class="card border-green flex-fill">
            <div class="card-img-top p-1 h-40 text-center">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}"><img src="{{ product.image.url }}"
                        class="img-fluid h-100" alt="{{ product.name }}"></a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}"><img
                        src="https://pc-haven.s3.eu-north-1.amazonaws.com/media/products/noimage.webp"
                        class="img-fluid h-100" alt="{{ product.name }}"></a>
                {% endif %}
            </div>
            <div
                class="card-body d-flex flex-column justify-content-center align-items-center h-10 bg-green text-white">
                <span class="text-center font-weight-bold">{{ product.name|safe }}</span>
            </div>
            <div class="card-body px-1 d-flex flex-column justify-content-center h-20 flex-fill text-center">
                <div>
                    <a href="{% url 'product_detail' product.id %}" class="btn cta text-uppercase w-100 mb-2">View
                        Product</a>
                    <a href="{% url 'remove_from_wishlist' product.id %}"
                        class="btn cta bg-danger text-white text-uppercase w-100">
                        Wishlist Remove <i class="fa-solid fa-minus"></i></a>
                </div>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:1 %}
    <div class="col-12 d-sm-none">
        <hr>
    </div>
    {% endif %}
    {% if forloop.counter|divisibleby:3 %}
    <div class="col-12 d-none d-md-block d-lg-none d-xl-none">
        <hr>
    </div>
    {% endif %}
    {% if forloop.counter|divisibleby:4 %}
    <div class="col-12 d-none d-lg-block">
        <hr>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<p class="text-center font-weight-bold text-green">Wishlist is currently empty!</p>
<p>Simply browse our website, find the products that catch your
    eye, and click on the <i class="fa-regular fa-heart text-green"></i> icon to start
    curating your
    personalized
    collection. Fill up your wishlist with exciting products and keep track of your
    favorites for future reference. Happy shopping and enjoy building your ultimate PC!</p>
{% endif %}