<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto pt-2">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'home' %}">
                Home
            </a>
        </li>
        <li class="nav-item dropdown mega-menu">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu mega-area bg-offwhite mx-auto px-0 pb-0 pb-lg-2"
                aria-labelledby="all-products-link">
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-2 text-center mb-3 mb-lg-0">
                        <a href="{% url 'products' %}" class="dropdown-item text-green font-weight-bold">All
                            Products</a>
                        <hr class="my-0 w-75 mx-auto">
                        <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                        <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                        <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By
                            Category</a>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 text-center mb-3 mb-lg-0">
                        <a href="{% url 'products' %}?category=cases"
                            class="dropdown-item text-green font-weight-bold">Cases</a>
                        <hr class="my-0 w-75 mx-auto">
                        <a href="{% url 'products' %}?sub_category=full_tower" class="dropdown-item">Full Tower</a>
                        <a href="{% url 'products' %}?sub_category=midi_tower" class="dropdown-item ">Midi Tower</a>
                        <a href="{% url 'products' %}?sub_category=mini_tower" class="dropdown-item ">Mini Tower</a>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 text-center mb-3 mb-lg-0">
                        <a href="{% url 'products' %}?category=graphics_cards"
                            class="dropdown-item text-green font-weight-bold">Graphics Cards</a>
                        <hr class="my-0 w-75 mx-auto">
                        <a href="{% url 'products' %}?sub_category=nvidia_geforce" class="dropdown-item">Nvidia
                            GeForce</a>
                        <a href="{% url 'products' %}?sub_category=amd_radeon" class="dropdown-item ">AMD Radeon</a>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 text-center mb-3 mb-lg-0">
                        <a href="{% url 'products' %}?category=processors"
                            class="dropdown-item text-green font-weight-bold">Processors</a>
                        <hr class="my-0 w-75 mx-auto">
                        <a href="{% url 'products' %}?sub_category=intel" class="dropdown-item">Intel</a>
                        <a href="{% url 'products' %}?sub_category=amd" class="dropdown-item ">AMD</a>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 text-center mb-3 mb-lg-0">
                        <a href="{% url 'products' %}?category=motherboards"
                            class="dropdown-item text-green font-weight-bold">Motherboards</a>
                        <hr class="my-0 w-75 mx-auto">
                        <a href="{% url 'products' %}?sub_category=atx" class="dropdown-item">ATX</a>
                        <a href="{% url 'products' %}?sub_category=micro_atx" class="dropdown-item ">Micro ATX</a>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 text-center mb-3 mb-lg-0">
                        <a href="{% url 'products' %}?category=components"
                            class="dropdown-item text-green font-weight-bold">Componants</a>
                        <hr class="my-0 w-75 mx-auto">
                        <a href="{% url 'products' %}?sub_category=ram" class="dropdown-item">Ram</a>
                        <a href="{% url 'products' %}?sub_category=power_supplies" class="dropdown-item ">Power
                            Supplies</a>
                        <a href="{% url 'products' %}?sub_category=cpu_coolers" class="dropdown-item ">CPU Coolers</a>
                    </div>

                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#">
                About Us
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#">
                Blog
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#">
                Contact Us
            </a>
        </li>

    </ul>
</div>