<nav class="navbar navbar-expand-lg bg-offwhite w-100 py-2 py-lg-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
    </button>
    <a href="{% url 'home' %}" class="nav-link d-none d-lg-block">
        <span class="my-0 logo"><strong>PC
                Haven</strong></span>
    </a>
    <ul class="d-flex mb-0 mx-auto">
        <li class="list-inline-item d-lg-none">
            <a class="nav-link" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-search fa-lg"></i></div>
                    <p class="my-0">Search</p>
                </div>
            </a>
            <div class="dropdown-menu border-0 bg-offwhite w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                <form class="form" method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control bg-offwhite rounded-0" type="text" name="q"
                            placeholder="Search Product">
                        <div class="input-group-append">
                            <button class="form-control rounded-0" type="submit" aria-label="Search Product">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <li class="list-inline-item dropdown d-lg-none">
            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-user fa-lg"></i></div>
                    <p class="my-0">My Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                <a href="{% url 'add_blog' %}" class="dropdown-item">Blog Management</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
        <li class="list-inline-item d-lg-none">
            <a class="{% if grand_total %}cart-green font-weight-bold{% endif %} nav-link" href="{% url 'view_cart' %}">
                <div class="text-center">
                    <div>
                        <i class="fa-solid fa-cart-shopping"></i>
                        {% if product_count %}
                        <span class='product-counter'>{{ product_count }}</span>
                        {% endif %}
                    </div>
                    <p class="my-0">
                        {% if grand_total %}
                        €{{ grand_total|floatformat:2 }}
                        {% else %}
                        €0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </ul>
    <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav w-auto mx-auto pt-2">
            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link mr-3" href="{% url 'home' %}">
                    Home
                </a>
            </li>
            <li class="nav-item dropdown mega-menu">
                <a class="logo-font font-weight-bold nav-link mr-3" href="#" id="all-products-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All Products
                </a>
                <div class="dropdown-menu mega-area bg-offwhite mx-auto px-1 pb-0 pb-lg-4"
                    aria-labelledby="all-products-link">
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-2 text-center mb-3 mb-lg-0">
                            <a href="{% url 'products' %}" class="dropdown-item text-green font-weight-bold">All
                                Products</a>
                            <hr class="my-0 w-75 mx-auto">
                            <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                            <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By
                                Category</a>
                            <a href="{% url 'products' %}?sort=sub_category&direction=asc" class="dropdown-item ">By
                                Sub-Category</a>
                        </div>
                        {% for category in allcategories %}
                        <div class="col-6 col-md-4 col-lg-2 text-center mb-3 mb-lg-0">
                            <a href="{% url 'products' %}?category={{ category.name }}"
                                class="dropdown-item text-green font-weight-bold">{{ category.friendly_name }}</a>
                            <hr class="my-0 w-75 mx-auto">
                            {% for subcategory in category.sub_categories.all %}
                            <a href="{% url 'products' %}?category={{category.name}}&sub_category={{ subcategory.name }}"
                                class="dropdown-item">{{ subcategory.friendly_name }}</a>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link mr-3" href="#about">
                    About Us
                </a>
            </li>
            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link mr-3" href="{% url 'blogs' %}">
                    Blog
                </a>
            </li>
            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link mr-3" href="{% url 'contact' %}">
                    Contact Us
                </a>
            </li>
        </ul>
    </div>
    <ul class="d-flex mb-0">
        <li class="list-inline-item d-lg-block d-none">
            <a class="nav-link" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-search fa-lg"></i></div>
                    <p class="my-0">Search</p>
                </div>
            </a>
            <div class="dropdown-menu border-0 bg-offwhite w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                <form class="form" method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control bg-offwhite rounded-0" type="text" name="q"
                            placeholder="Search Product">
                        <div class="input-group-append">
                            <button class="form-control rounded-0" type="submit" aria-label="Search Product">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <li class="list-inline-item dropdown d-lg-block d-none">
            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-user fa-lg"></i></div>
                    <p class="my-0">My Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                <a href="{% url 'add_blog' %}" class="dropdown-item">Blog Management</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
        <li class="list-inline-item d-lg-block d-none">
            <a class="{% if grand_total %} cart-green font-weight-bold{% endif %} nav-link"
                href="{% url 'view_cart' %}">
                <div class="text-center">
                    <div>
                        <i class="fa-solid fa-cart-shopping"></i>
                        {% if product_count %}
                        <span class='product-counter'>{{ product_count }}</span>
                        {% endif %}
                    </div>
                    <p class="my-0">
                        {% if grand_total %}
                        €{{ grand_total|floatformat:2 }}
                        {% else %}
                        €0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</nav>