<div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
    <a href="{% url 'home' %}" class="nav-link">
        <span class="my-0 logo"><strong>PC
                Haven</strong></span>
    </a>
</div>
<div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
    <form method="GET" action="">
        <div class="input-group w-100">
            <input class="form-control bg-offwhite rounded-0" type="text" name="q" placeholder="Search Product">
            <div class="input-group-append">
                <button class="form-control rounded-0" type="submit" aria-label="Search Product">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
        <li class="list-inline-item dropdown">
            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-user fa-lg"></i></div>
                    <p class="my-0">My Account</p>
                </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
        <li class="list-inline-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}{% endif %} nav-link" href="">
                <div class="text-center">
                    <div><i class="fa-solid fa-cart-shopping"></i></div>
                    <p class="my-0">
                        {% if grand_total %}
                        €{{ grand_total|floatformat:2 }}
                        {% else %}
                        €0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>