{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Add Blog -->
<section class="blogs">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <hr>
                <h1 class="text-green">Add Blog</h1>
                <hr>
            </div>
            <div class="col-12 col-md-8 mx-auto mb-5">
                <div class="prod-form">
                    <form method="POST" action="{% url 'add_blog' %}" class="mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="">
                            <a class="btn cta" href="{% url 'blogs' %}">Cancel</a>
                            <button class="btn cta" type="submit">Add Blog</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- BTT Button -->
<button type="button" class="shadow-sm rounded border border-black" id="btn-back-to-top">
    <i class="fas fa-arrow-up text-green"></i>
</button>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/editprod.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
{% endblock %}