{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Blog Posts -->
<section class="blogs">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <hr>
                <h1 class="text-green text-center">PC HAVEN Blog</h1>
                <hr>
            </div>
            <div class="col-12 mx-auto">
                <div>
                    <p class="text-center">Welcome to PC HAVEN Blog, your go-to source for all things PC-related on our
                        PC HAVEN site.</p>
                    <p>
                        Here, we offer insightful articles, expert tips, and the latest industry trends to fuel your
                        technological ambitions. Discover in-depth reviews, expert guides, and stay up to date with the
                        newest
                        releases and advancements in the PC world. Join our community and unlock the true potential of
                        your PC at
                        PC HAVEN Blog.</p>
                </div>
            </div>
        </div>

        <!-- Blog Card -->
        {% include "./includes/blog_card.html" %}

        <!-- Pagination -->
        {% include "./includes/pagination.html" %}
    </div>
</section>

<!-- BTT Button -->
<button type="button" class="shadow-sm rounded border border-black" id="btn-back-to-top">
    <i class="fas fa-arrow-up text-green"></i>
</button>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/base.js' %}"></script>
{% endblock %}