{% for item in cart_items %}
<div class="row border-green bg-white cart-item-row p-2 mb-3">
    <div class="col-12 col-lg-4 mb-lg-0 mb-2">
        {% if item.product.image %}
        <div class="bg-white text-center img-container">
            <a href="{% url 'product_detail' item.product.id %}"><img class="img-fluid rounded"
                    src="{{ item.product.image.url }}"></a>
        </div>
        {% else %}
        <div class="bg-white text-center img-container">
            <a href="{% url 'product_detail' item.product.id %}"><img class="img-fluid rounded"
                    src="https://pc-haven.s3.eu-north-1.amazonaws.com/media/products/noimage.webp"></a>
        </div>
        {% endif %}
    </div>
    <div class="col-12 col-lg-8 mb-lg-0 mb-3">
        <p class="my-0 text-lg text-green"><strong>{{ item.product.name }}</strong></p>
        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
        {% if item.product.has_sale %}
        <p class="my-1"><span class="font-weight-bold text-green">Price:</span>
            €{{ item.product.sale_price }}</p>
        {% else %}
        <p class="my-1"><span class="font-weight-bold text-green">Price:</span>
            €{{ item.product.price }}</p>
        {% endif %}
        <p class="my-1"><span class="font-weight-bold text-green">Qty:</span>
            {{ item.quantity }}</p>
    </div>
</div>
{% endfor %}