<div class="row">
    <div class="col-12">
        <div>
            <p class="mb-0 font-weight-bold text-green text-lg">Order Number</p>
            <p class="mb-0 order-number">{{ order.order_number }}</p>
        </div>
        <div class="mt-2">
            <p class="mb-0 font-weight-bold text-green text-lg">Order Date</p>
            <p class="mb-0">{{ order.order_date }}</p>
        </div>
        <div class="mt-2">
            <p class="mb-2 font-weight-bold text-green text-lg">Order Details</p>
        </div>
    </div>
</div>