{% for item in order.lineitems.all %}
<div class="row">
    {% if item.product.image %}
    <div class="col-3 col-lg-2 my-1 text-center">
        <img class="w-100" src="{{ item.product.image.url }}">
    </div>
    {% else %}
    <div class="col-3 col-lg-2 my-1 text-center">
        <img class="w-100" src="https://pc-haven.s3.eu-north-1.amazonaws.com/media/products/noimage.webp">
    </div>
    {% endif %}
    <div class="col-9 col-lg-10">
        <p class="my-0 text-green"><strong>{{ item.product.name }}</strong></p>
        <p class="my-0 small">Qty: {{ item.quantity }} @ €{{ item.product.price }} each</p>
    </div>
</div>
<hr>
{% endfor %}