{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block extra_title %} - {% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

<h2 class="logo-font text-center mb-2">{% trans "Password Reset" %}</h2>
<hr>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% trans "Forgotten your password?" %}</p>
<p>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form|crispy }}
    <a class="btn cta rounded-0" href="{% url 'account_login' %}">Back to Login</a>
    <button class="btn cta" type="submit">{% trans 'Reset My Password' %}</button>
</form>

<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}