<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

        body {
            background-color: white;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Lato', sans-serif;
            width: 100%;
        }

        h1,
        h2 {
            color: #0d8065
        }

        img {
            width: 10rem;
            height: 10rem;
        }
    </style>
</head>

<body>
    <div style="margin: 3rem 0;">
        <a href="https://pc-haven.herokuapp.com/" target="_blank"
            style="color: #0d8065; font-size: 2rem; border: 3px solid #0d8065; max-width: fit-content; padding: .1rem .3rem; text-transform: uppercase; text-decoration: none; text-align: center;"><strong>PC
                Haven</strong>
        </a>
        <h1 style="margin-bottom: 0;">Order Confirmation</h1>
        <p>Thank you for your order!</p>
        <h2>Order Details</h2>
        <p><strong>Order Number: </strong> {{ order.order_number }}</p>
        <p><strong>Order Date: </strong>{{ order.order_date }}</p>
        <p><strong>Order Items: </strong></p>
        <hr>
        {% for item in order.lineitems.all %}
        <p style="margin-bottom: 1rem; color: #0d8065;"><strong>{{ item.product.name }}</strong></p>
        {% if item.product.image %}
        <img src="{{ item.product.image.url }}">
        {% else %}
        <img src="https://pc-haven.s3.eu-north-1.amazonaws.com/media/products/noimage.webp">
        {% endif %}
        {% if item.product.has_sale %}
        <p style="margin: 0 auto; font-size: small;">Qty: {{ item.quantity }} @ €{{ item.product.sale_price }}
            each
        </p>
        {% else %}
        <p style="margin: 0 auto; font-size: small;">Qty: {{ item.quantity }} @ €{{ item.product.price }} each
        </p>
        {% endif %}
        <hr>
        {% endfor %}
        <p>Your order will be shipped to {{ order.street_address1 }} in {{ order.town_or_city }}, {{ order.country }}.
        </p>
        <p>We've got your phone number on file as {{ order.phone_number }}.</p>
        <p><strong>Order Total: </strong>€{{ order.order_total }}</p>
        <p><strong>Delivery: </strong>€{{ order.delivery_cost }}</p>
        <p><strong>Grand Total: </strong>€{{ order.grand_total }}</p>
        <p style="margin-bottom: 2rem;">Please feel free to contact us if you have any questions.</p>
        <p><a href="https://pc-haven.herokuapp.com/contact/" target="_blank"
                style=" font-size: 1.2rem; background-color: #0d8065; color: white; text-transform: uppercase; text-decoration: none; padding: .3rem 1rem;"><strong>Contact
                    Us</strong>
            </a></p>
    </div>
</body>

</html>