<section id="about" class="sec-pad">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <span class="text-green text-heading text-center text-uppercase">About Us</span>
                <hr class="w-50 mx-auto mb-0">
            </div>
        </div>
        <div class="row mt-4 flex-wrap-reverse">
            <div class="col-12 col-lg-7 my-auto d-flex flex-column justify-content-center align-items-center">
                <p class="mt-2">At <span class="text-green font-weight-bold">PC HAVEN</span>, we are dedicated to being
                    your go-to
                    source for premium
                    PC components. Our mission is to
                    empower individuals with the latest and most innovative hardware to fuel their technological
                    aspirations.
                </p>
                <p>With a team of passionate enthusiasts, we understand the needs of hardcore gamers, creative
                    professionals, and tech enthusiasts alike. We curate a meticulously selected range of top-quality
                    components that meet the highest standards of performance, reliability, and durability.</p>
                <p>We believe that a truly exceptional PC experience starts with the right components. That's why we
                    tirelessly search for the latest advancements in hardware, ensuring that our inventory is always
                    up-to-date with cutting-edge technology. From powerful graphics cards to lightning-fast processors,
                    from high-capacity storage solutions to sleek and stylish cases, we have everything you need to
                    build your dream PC.</p>
            </div>
            <div class="col-12 col-lg-5 px-md-5 px-lg-0 my-auto d-flex justify-content-center align-items-center">
                <img src="https://pc-haven.s3.eu-north-1.amazonaws.com/media/pchaven/about.webp" class="img-fluid"
                    alt="About Us Image">
            </div>
        </div>
    </div>
</section>