<section class="hero">
    <div class="container">
        <div class="row flex-wrap-reverse align-items-center">
            <div
                class="col-12 col-md-6 mb-3 p-3 d-flex flex-column align-items-center justify-content-center text-white">
                <h1 class="text-uppercase text-center font-weight-bold rounded border-green">
                    Build your dream PC
                </h1>
                <p>Welcome to <strong>PC HAVEN</strong>, your ultimate destination for top-quality PC components. We are
                    passionate
                    about providing you with the latest and most cutting-edge hardware to fuel your technological
                    ambitions. Whether you're a hardcore gamer, a creative professional, or a tech enthusiast, we've
                    got you covered.</p>
                <a href="{% url 'products' %}" class="shop-now-button btn cta text-uppercase">Shop Now</a>
            </div>
            <div class="col-12 col-md-6 my-auto d-flex justify-content-center align-items-center">
                <img src="https://res.cloudinary.com/seanf316/image/upload/v1726437651/PC-Haven/media/pchaven/pchaven_various_pc_components_uhamr2.webp"
                    class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>