{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Edit Product -->
<section class="product_manage">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <hr>
                <h1 class="text-green">Edit Product</h1>
                <hr>
            </div>
            <div class="col-12 col-md-8 mx-auto mb-5">
                <div class="prod-form">
                    <form method="POST" action="{% url 'edit_product' product.id %}" class="mb-2"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="">
                            <a class="btn cta" href="{% url 'products' %}">Cancel</a>
                            <button class="btn cta" type="submit">Update</button>
                            <button class="btn cta-danger" type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Product Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-green text-white">
                    <h2 class="modal-title" id="delete{{ product.id }}">Delete {{ product.name|safe }}</h2>
                </div>
                <div class="modal-body">
                    {% if request.user.is_superuser %}
                    <form method="post" action="{% url 'delete_product' product.id %}" role="form">
                        {% csrf_token %}
                        <p class="text-green"><strong><i>Are you sure you want to Delete this product?</strong></i></p>
                        <p>This product will be permanently removed and you will not be able
                            to retrieve it.</p>
                        <button type="button" class="btn cta" data-dismiss="modal" aria-label="Close">Cancel</button>
                        <button type="submit" name="action" value="delete" class="btn cta-danger">Delete</button>
                    </form>
                    {% else %}
                    <h3>You are not authorized to delete this product.</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- BTT Button -->
<button type="button" class="shadow-sm rounded border border-black" id="btn-back-to-top">
    <i class="fas fa-arrow-up text-green"></i>
</button>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/editprod.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
{% endblock %}