{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Products Start -->
<section class="all-products">
    <div class="container-fluid">
        <div class="row bg-green text-white mb-1 p-1">
            <div class="col-12 text-center">
                <h1>All Products</h1>
            </div>
        </div>
    </div>

    <!-- Product Card -->
    {% include "./includes/product-card.html" %}

    <!-- Pagination -->
    {% include "./includes/pagination.html" %}

</section>
<!-- Products End -->
{% endblock %}