{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="product_manage">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <hr>
                <h1 class="text-green">Product Management</h1>
                <hr>
            </div>
        </div>

        <div class="row mt-2 mb-5 w-100 p-1 border-green mx-auto rounded-lg bg-white product">
            <div class="col-12 p-0">
                <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item flex-grow-1" role="presentation">
                        <button class="nav-link active w-100 text-uppercase font-weight-bold text-green text-lg m-0"
                            id="pills-product-tab" data-toggle="pill" data-target="#pills-product" type="button"
                            role="tab" aria-controls="pills-product" aria-selected="true">
                            Add Product
                        </button>
                    </li>
                    <li class="nav-item flex-grow-1" role="presentation">
                        <button class="nav-link w-100 text-uppercase font-weight-bold text-green text-lg m-0"
                            id="pills-category-tab" data-toggle="pill" data-target="#pills-category" type="button"
                            role="tab" aria-controls="pills-category" aria-selected="false">
                            Add Category
                        </button>
                    </li>
                    <li class="nav-item flex-grow-1" role="presentation">
                        <button class="nav-link w-100 text-uppercase font-weight-bold text-green text-lg m-0"
                            id="pills-subcategory-tab" data-toggle="pill" data-target="#pills-subcategory" type="button"
                            role="tab" aria-controls="pills-subcategory" aria-selected="false">
                            Add Sub-Category
                        </button>
                    </li>
                </ul>
                <div class="tab-content px-2" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-product" role="tabpanel"
                        aria-labelledby="pills-product-tab">
                        <form method="POST" action="{% url 'add_product' %}" class="form mb-2"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                            {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                            {% else %}
                            {{ field }}
                            {% endif %}
                            {% endfor %}
                            <div>
                                <a class="btn cta" href="{% url 'products' %}">Cancel</a>
                                <button class="btn cta" type="submit">Add Product</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-category" role="tabpanel" aria-labelledby="pills-category-tab">
                        <form method="POST" action="{% url 'add_product' %}" class="form mb-2"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ cform|crispy }}
                            <div>
                                <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                                <button class="btn btn-black rounded-0" type="submit">Add Product</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-subcategory" role="tabpanel"
                        aria-labelledby="pills-subcategory-tab">
                        <form method="POST" action="{% url 'add_product' %}" class="form mb-2"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ sform|crispy }}
                            <div class="text-right">
                                <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                                <button class="btn btn-black rounded-0" type="submit">Add Product</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Description/Reviews End -->
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}