<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-green"></div>
    <div class="toast-header bg-green text-white text-uppercase rounded-0">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="ml-2 mb-1 close text-white" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
        <div class="row">
            <div class="col-12">
                {% if request.user.is_authenticated %}
                <p class="logo-font bg-white text-green font-weight-bold py-1">{{ user.username}}'s Cart
                    ({{ product_count }})
                </p>
                {% else %}
                <p class="logo-font bg-white text-green font-weight-bold py-1">Your Cart ({{ product_count }})</p>
                {% endif %}
            </div>
        </div>
        <div class="cart-wrapper mb-2">
            {% for item in cart_items %}
            <div class="row">
                {% if item.product.image %}
                <div class="col-3 my-1">
                    <img class="w-100" src="{{ item.product.image.url }}">
                </div>
                {% else %}
                <div class="col-3 my-1">
                    <img class="w-100" src="https://pc-haven.s3.eu-north-1.amazonaws.com/media/products/noimage.webp">
                </div>
                {% endif %}
                <div class="col-9">
                    <p class="my-0 text-green"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="row mb-1">
            <div class="col-12">
                <div class="bg-green">
                    <p class="text-white mb-0 p-2 font-weight-bold">
                        {% if free_shipping_delta > 0 %}Total (Exc. delivery):{% else %}Grand Total:{% endif %}
                        <span class="float-right">${{ total|floatformat:2 }}</span>
                    </p>
                </div>
            </div>
        </div>
        {% if free_shipping_delta > 0 %}
        <div class="row">
            <div class="col-12 shadow-sm">
                <p class="mb-0 p-2 text-green font-italic text-center">
                    Spend <strong>${{ free_shipping_delta }}</strong> more to get free next day delivery!
                </p>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-12 shadow-sm">
                <p class="mb-0 p-2 text-green font-italic text-center">Nice! You qualify for free delivery.</p>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <a href="{% url 'view_cart' %}" class="btn cta mt-2 w-100">
                    <span class="text-uppercase">Go To Secure Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>